{% extends 'main.html' %}
{% block b %}
<div class="alert alert-dark" role="alert">
   <h3 style='text-align:center'> Merci pour votre achat sur Macaw Shop.</h3>
   <h3 style='text-align:center'> .شكرا لشرائك من ماكاو شوب</h3>
</div>
<div class="alert alert-danger" role="alert">
   <h5 style='text-align:center'>Le numéro que vous avez entré sera contacté pour confirmer votre commande dès que possible.</h5>
   <h5 style='text-align:center'>سوف يتم الاتصال بالرقم الذي قمت بإدخاله لتأكيد طلبك في أقرب وقت ممكن</h5>
  </div>
{% endblock b %}